@model IEnumerable<Eshop_AspCore.Data.Models.LastSubCategory>

@{
    ApplicationDbContext database = new ApplicationDbContext();
    ViewData["Title"] = "مدیریت زیر دسته های اخر";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var q = database.Tbl_SecondSubCategory.ToList();
}

<div class="box box-info">
    <div class="box-header">
        <i class="fa fa-object-group"></i>
        <h3 class="box-title">مدیریت زیر دسته های اخر</h3>
    </div>
    <div class="box-body">

        @if (TempData["Msg"] != null)
        {
            <div class="@TempData["Style"] text-center">@TempData["Msg"]</div>
        }
        <p>
            <a class="btn btn-success" asp-action="Create"><i class="fa fa-save"></i>&nbsp; تعریف زیر دسته اخر </a>
        </p>
        <div class="text-center">

            <form asp-action="Index" method="post">
                <label>فیلتر بر اساس زیردسته دوم :</label>
                <select name="secondCatId" class="form-control">
                    <option value="@null">یک مورد را انتخاب کنید</option>
                    @foreach (var item in q)
                    {
                        <option value="@item.SecondSubCatId">@item.SecondSubCatTitle</option>
                    }

                </select>
                <input type="submit" name="btnFilter" value="فیلتر" class="btn btn-info" />
            </form>
        </div>
        <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
            <thead>
                <tr>
                    <th>
                        زیر دسته دوم
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastSubCatTitle)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @{
                                var SecondCatName = q.Where(c => c.SecondSubCatId == item.SecondSubCatId_FK).FirstOrDefault().SecondSubCatTitle;
                            }
                            @SecondCatName
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastSubCatTitle)
                        </td>
                        <td>
                            <a asp-action="Edit" class="btn btn-primary btn-xs" asp-route-id="@item.LastSubCatId">ویرایش</a>

                            <a asp-action="Delete" class="btn btn-danger btn-xs" asp-route-id="@item.LastSubCatId ">حذف</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>