@model IEnumerable<VmPay>
@{
    ViewData["Title"] = "سفارشات من";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="box box-info">
    <div class="box-header">
        <i class="fa fa-user"></i>
        <h3 class="box-title">سفارشات من</h3>
    </div>
    <div class="box-body">
        @if (Model != null)
        {

            <table class="table-responsive table-bordered table-condensed table-hover table-striped" style="width:100%">
                <thead>
                    <tr class="text-center">
                        <th>ردیف</th>
                        <th>شماره فاکتور</th>
                        <th>تاریخ / زمان خرید</th>
                        <th>وضعیت پرداخت</th>
                        <th>مبلغ پرداخت</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int rowCount = 1;
                        foreach (var item in Model)
                        {
                            <tr class="text-center">
                                <td>@rowCount</td>
                                <td>@item.InvoiceId</td>
                                <td>@ShamsiPlugin.ToPeString(item.DateOrder, "dddd yyyy/MM/dd hh:mm")</td>
                                @if (item.StatusPay == false)
                                {
                                    <td><label class="label label-danger">پرداخت نشده</label></td>
                                }
                                else
                                {
                                    <td><label class="label label-success">پرداخت شده</label></td>
                                }
                                @if (item.StatusPay == false)
                                {
                                    <td>0 &nbsp; تومان</td>
                                }
                                else
                                {
                                    <td>@item.SumPrice.ToString("#,###")&nbsp; تومان</td>
                                }

                                @if (item.StatusPay == false)
                                {
                                    <td>
                                        <a class="btn btn-danger btn-xs"onclick="ShowAlert()">مشاهده جزئیات</a>

                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <a asp-action="ShowDetailsOrder" asp-controller="Account" asp-route-InvoiceId="@item.InvoiceId" class="btn btn-primary btn-xs">مشاهده جزئیات</a>
                                    </td>
                                }
                                @*<td><a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#exampleModal">مشاهده متن نظر</a></td>*@

                            </tr>
                            rowCount++;
                        }
                    }

                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-danger text-center">تا کنون شما سفارشی نداشتین</div>
        }
    </div>
</div>

<script>
    function ShowAlert() {

        alert('فاکتور صادر نشده است جهت صدور فاکتور سفارش خود را نهایی کنید');
        //$.alert({
        //    title: 'خطا',
        //    content: 'فاکتور صادر نشده است جهت صدور فاکتور سفارش خود را نهایی کنید',
        //    rtl: true,
        //    closeIcon: true,
        //    type: 'red',
        //    typeAnimated: true,
        //    theme: 'material',
        //    buttons: {
        //        confirm: {
        //            text: 'تایید',
        //            btnClass: 'btn-red',
        //        }
        //    },
        //});
    }
</script>

<!-- Modal -->
@*<div class="modal fade" id="exampleModal_@item.CommentId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">مشاهده کامل متن نظر</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-6">
                                <textarea class="form-control" disabled>@item.Text</textarea>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>*@
<!------------------------------------------------End Modal------------------------------------------------------------------------------->