@model Eshop_AspCore.Data.Models.Comments

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Comments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FulllName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FulllName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateComment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateComment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConfirmComment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConfirmComment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Products)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tbl_Products.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tbl_User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tbl_User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CommentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
