@model Eshop_AspCore.Data.Models.Products

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductNameFA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductNameFA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductNameEN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductNameEN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DefaultPic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DefaultPic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeeProduct)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeeProduct)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsShowProduct)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsShowProduct)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OffProduct)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OffProduct)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountProduct)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountProduct)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateProduct)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateProduct)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tbl_Category.CatTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tbl_FirstSubCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tbl_FirstSubCategory.FirstSubCatTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tbl_LastSubCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tbl_LastSubCategory.LastSubCatTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tbl_SecondSubCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tbl_SecondSubCategory.SecondSubCatTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tbl_User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tbl_User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
