@model Eshop_AspCore.Data.Models.UserAccess

@{
    ApplicationDbContext database = new ApplicationDbContext();
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var listUsers = database.Users.ToList();
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId_FK" class="control-label">انتخاب کاربر</label>
                <select asp-for="UserId_FK" class="form-control">

                    @foreach (var item in listUsers)
                    {
                        <option value="@item.Id">@(item.FirstName + " " + item.LastName)</option>
                    }

                </select>
            </div>
            <div class="form-group">
                <label asp-for="RoleId_FK" class="control-label"></label>
                <select asp-for="RoleId_FK" class="form-control" asp-items="ViewBag.RoleId_FK"></select>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="AddPost" /> @Html.DisplayNameFor(model => model.AddPost)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="DeletePost" /> @Html.DisplayNameFor(model => model.DeletePost)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="EditPost" /> @Html.DisplayNameFor(model => model.EditPost)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
